@font-face {
  font-family: 'nordeco-regular';
  src:
    url('nordeco-regular-webfont.woff2') format('woff2'),
    url('nordeco-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
